@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

html, body {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
    color: #313131;
    height: 100%;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

h1, h2 {
    color: #313131;
}

button {
    transition: transform ease 0.5s, box-shadow ease 0.5s;
    color: white;
    background-color: #C41010;
    box-shadow: 0px 2px 10px lightgray;
    border: 0px;
    border-radius: 10px;
    width: 160px;
    height: 48px;
    font-size: 15px;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
}

button:hover {
    transform: translateY(-4px);
    box-shadow: 0px 2px 10px #313131;
}

fieldset {
    gap: 20px;
    border: 0;
}

legend {
    text-align: center;
}

.cmyk {
    color: cmyk(0%, 22%, 83%, 0%);
}

.spacer {
    margin-top: 100px;
}

/* Navigation */

nav {
    position: fixed;
    z-index: 9;
    width: 100%;
    box-shadow: 1px 0px 2px 1px lightgray;
    background-color: white;
    height: 70px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    overflow: hidden;
    background-color: white;
}

li {
    float: left;
}

li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: #313131;
    transition: 0.3s color ease-in-out;
}
  
li a:hover {
    color: #C41010;
}

.current_tab {
    color: #C41010;
}

/* End navigation */

/* Main */

main {
    background-color: white;
    position: relative;
    overflow-y: hidden;
    margin: 0;
    display: inline-block;
    width: 100%;
    min-height: 100%;
}

main header {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    width: 100%;
    text-align: center;
    font-size: 18px;
}

main header img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* End main */

/* Home page */

.articles {
    width: 98%;
}

.show_articles{
    position: relative;
    background-color: white;
    display: inline-block;
    margin-top: 50px;
    padding: 10px;
    width: 100%;
    height: 350px;
}

.article_box {
    transition: height ease 0.5s, transform ease 0.5s, box-shadow ease 0.5s, opacity ease 0.3s;
    box-shadow: 0px 2px 10px lightgray;
    border-radius: 5px;
    width: 250px;
    height: 85%;
    padding: 0px;
    margin-right: 120px;
    float: right;
}

.article_box img {
    position: relative;
    width: 100%;
    height: 240px;
    border-radius: 5px;
}

.article_box .subtitle {
    margin-top: 5px;
    text-align: center;
    font-weight: bold;
    font-size: 19px;
    color: #313131;
}

.hide {
    transition: opacity ease 0.3s, transform ease 0.3s;
    display: block;
    text-align: center;
    margin-top: -5px;
    font-size: 17px;
    opacity: 0;
    color: #313131;
}

.article_box:hover .hide {
    transform: translateY(-5px);
    display: block;
    text-align: center;
    margin-top: -5px;
    font-size: 17px;
    opacity: 1;
    color: #313131;
}

.article_box:hover {
    transform: translateY(-5px);
    box-shadow: 0px 2px 20px #C41010;
    width: 250px;
    height: 90%;
    padding: 0px;
    margin-right: 120px;
    float: right;
}

.article_title {
    display: inline-block;
    width: 500px;
    height: 90%;
    line-height: 280px;
    font-size: 25px;
    margin-left: 10%;
}

@media only screen and (max-width: 1000px) {
    .show_articles{
        border: 1px solid red;
        overflow: hidden;
        display: inline-block;
        padding: 10px;
        width: 100%;
        height: 350px;
        text-align: left;
    }
    
    .article_box {
        border: 1px solid green;
        width: 240px;
        height: 300px;
        height: 90%;
        padding: 10px;
        margin-right: 50px;
        float: right;
    }
    
    .article_title {
        display: inline-block;
        width: 50%;
        height: 90%;
        line-height: 280px;
        font-size: 20px;
        margin-left: 10%;
    }
}

/* End home page */

/* Article page */

.heading {
    display: inline;
    position: relative;
    margin-left: 10%;;
}

.article_list {
    margin-top: 20px;
    display: flex;
    gap: 20px;
    align-items: center;
    flex-direction: column;
    box-shadow: 0px;
}

.article_list a {
    text-decoration: none;
    color: #313131;
}

.article_list article {
    transition: box-shadow ease 0.5s;
    box-shadow: 0px 2px 10px lightgray;
    display: inline-block;
    border-radius: 5px;
    width: 80%;
    height: 115px;
    padding: 10px;
}

.article_list section {
    display: flex;
}

.article_list .article_text {
    display: flex;
    flex-direction: column;
    margin-top: 1px;
    margin-left: 20px;
    font-size: 20px;
}

.article_list img {
    height: 115px;
    width: 115px;
    border-radius: 5px;
}

.article_list .title {
    font-size: 22px;
    font-weight: bold;
}

.article_list .description {
    margin-top: -10px;
    font-size: 18px;
    width: 100%;
}

.hide_description {
    transition: all 0.5s ease;
    opacity: 0;
}

.dots {
    position: absolute;
    transition: opacity 0.3s ease-in-out;
    opacity: 1;
}

.article_list article:hover {
    box-shadow: 0px 2px 20px #C41010;
}

.article_list article:hover .dots {
    opacity: 0;
}

.article_list article:hover .hide_description {
    opacity: 1;
    margin-top: 0px;
    font-size: 18px;
    margin-right: 100px;
}

/* End article page */

/* Contact page */

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

form .holder {
    display: inline;
    width: 20%;
}

form .contact_input {
    display: flex;
    gap: 20px;
    width: 100%;
}

form label {
    padding: 10px;
}

form input {
    border: 1.5px solid #a6a6a6;
    border-radius: 5px;
    height: 40px;
}

form .title {
    width: 15%;
}

form .name {
    width: 85%;
}

form .email {
    width: 100%;
}

form .prefix {
    width: 15%;
}

/* Disable number arrows and scroll */
form .phone_number::-webkit-outer-spin-button,
form .phone_number::-webkit-inner-spin-button,
form .phone_number[type=number] {
    -webkit-appearance: none;
    -moz-appearance: textfield;
    width: 85%;
}

form .information {
    width: 100%;
    height: 250px;
}

.contact_row {
    display: flex;
    flex-direction: row;
    margin-top: 5px;
}

/* End contact page */

/* Article */

.article {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    width: 100%;
}

.article header {
    width: 35%;
    height: 12%;
    font-size: 22px;
}

.article figure {
    width: 100%;
    height: 500px;
}

.article figure figcaption {
    padding: 5px;
}

.article_content {
    display: flex;
    flex-direction: row;
    width: 80%;
    margin-top: 0rem;
}

.article_content section {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.article_content section p {
    margin-top: -10px;
    font-size: 18.5px;
}

.article_content section h2 {
    color: #313131;
    text-align: left;
}

.article_content aside {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.article_content aside img {
    box-shadow: 0px 2px 10px #C41010;
}

.smaller {
    width: 300px;
    height: 125px;
}

.stretch {
    margin-top: -25px;
    width: 600px;
    height: 250px;
}

.heading_dot {
    height: 10px;
    width: 10px;
    background-color: #C41010;
    border-radius: 50%;
    display: inline-block;
    margin-bottom: 2px;
    box-shadow: 0px 2px 10px lightgray;
}

.recommended_section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 100px;
    text-align: center;
    margin-top: 50px;
}

.separator {
    margin-top: 50px;
    margin-bottom: -50px;
    border: 1px dashed #C41010;
    width: 85%;
}

.margin_top_200 {
    margin-top: 220px;
}

.margin_top_300 {
    margin-top: 300px;
}

.margin_top_350 {
    margin-top: 350px;
}

.margin_top_400 {
    margin-top: 400px;
}

.recommended {
    position: relative;
    display: flex;
    justify-content: center;
    width: 84%;
}

.center_article {
    float: none;
    align-items: center;
}

.flex {
    display: flex;
    flex-direction: row;
}

.read_more {
    margin-bottom: -50px;
    font-size: 22px;
}

/* End article */

/* Footer */

footer {
    position: absolute;
    height: 100px;
    width: 100%;
    margin-top: 100px;
    box-sizing: border-box;
    text-align: center;
    bottom: 0;
    padding: 25px;
    background-color: white;
    box-shadow: 1px 0px 2px 1px lightgrey;
    font-style: bold;
    clear: both;
}

.lower_footer {
    bottom: -150px
}

.px-300 {
    bottom: -300px;
}

/* End footer */