@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

html body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

/* Navigation */

nav {
    position: fixed;
    z-index: 9;
    width: 100%;
    box-shadow: 1px 0px 2px 1px lightgray;
    background-color: white;
    height: 70px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    overflow: hidden;
    background-color: white;
}

li {
    float: left;
}

li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: #313131;
    transition: 0s background-color;
}
  
li a:hover {
    color: #C41010;
    transition-delay: 300ms;
}

.current_tab {
    color: #C41010;
}

/* End navigation */

/* Main */

.main {
    position: fixed;
    overflow-x: hidden;
    margin: 0;
    display: inline-block;
    border: 1px solid red;
    width: 100%;
    height: 100%;
}

.main header {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    width: 50%;
    text-align: center;
    font-size: 18px;
}

.main header img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* End main */

/* Home page */

.show_articles{
    overflow: hidden;
    display: inline-block;
    padding: 10px;
    width: 100%;
    height: 350px;
}

.article_box {
    border: 1px solid green;
    width: 240px;
    height: 300px;
    height: 90%;
    margin-right: 50px;
    float: right;
}

.article_title {
    display: inline-block;
    width: 50%;
    height: 90%;
    line-height: 280px;
    font-size: 20px;
    margin-left: 10%;
}

/* End home page */

/* Footer */

/* footer {
    position: absolute;
    height: 100px;
    width: 100%;
    bottom: 10px;
    align-items: center;
    justify-content: center;
    box-shadow: 1px 0px 2px 1px lightgrey;
}

.footer {
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 25px;
} */

footer {
    position: absolute;
    height: 100px;
    width: 101%;
    box-sizing: border-box;
    text-align: center;
    padding: 25px;
    background-color: white;
    box-shadow: 1px 0px 2px 1px lightgrey;
}

/* End footer */